* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1a1a !important;
}

nav {
  background-color: #333;
}


.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  margin: 0;
}

.menu li {
  margin: 0 2rem;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 21px;
}

.product-info {
  border-radius: 10px;
  background-color: #000000a1;
  margin: 0 5px;
}

.img-product img {
  padding: 10px 5px 10px 5px;
}

.img-product-detail {
  height: 400px;
  padding: 5px;
}

.img-product-detail img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.detail-product {
  padding: 1rem;
}

.cart span {
  margin-left: 10px;
}

.cart .cart-btn:hover {
  opacity: 0.2;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}

.product-blog {
  margin: 5px;
  min-height: 460px;
}

.title-type {
  width: 100%;
  background-color: #333;
}

.about-text-head p {
  font-size: 20px;
}

.about-text-bottom p {
  font-size: 20px;
}

.box-1 p {
  font-size: 30px;
}

.box-2 p {
  font-size: 30px;
}
